* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    height: 100%;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
