* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    height: 100%;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.mb-4 {
    margin-bottom: 20px;
}
.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.ml-1 {
    margin-left: 0.25rem;
}

.page-header {
    margin: 0 0 1rem 0;
    font-size: 28px;
    font-weight: 300;
}

.tip {
    padding: 8px 16px;
    border-radius: 4px;
    margin: 20px 0;
    border-left: 5px solid #000;
    background-color: rgba(0, 0, 0, .1);

    &.danger {
        background-color: rgba(245, 108, 108, .1);
        border-color: #f56c6c;
    }
    &.note {
        background-color: rgba(64, 158, 255, .1);
        border-color: #409eff;
    }

    &__title {
        margin: 0 0 1rem 0;
        font-weight: 700;
    }
}
