* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    height: 100%;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
.mb-4 {
    margin-bottom: 20px;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
